/* header part */

body{
    margin:0;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.banner{
    background-image:linear-gradient(180deg,black, rgb(104, 101, 101), rgb(0, 0, 0));
    height:fit-content;
}
   

.logo{
    color:#E6533C;
    font-size:2.3rem;
    font-style: italic;
    font-weight: 800;
    margin-left:100px;
    

}


.navbar ul{
    list-style: none;
    display:flex;
    gap:47px;
    margin-right:300px;
    
}
.navbar li a{
    text-decoration:none;
    color:azure;

    
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    border:1px solid gray;  
    padding:15px 20px;
    border-radius:25px; 
}
.home{
    background-color: #E6533C;
    color:white;
    border-radius:25px;
    padding:15px 20px;
    margin-left:-21px;
    
}
/* banner part */
.ban-title{
    font-size:80px;
    color:white;
    width:500px;



  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}




.shape{
  font-family: "Playwrite NL", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
  
.ban-content{
    display:flex;
    gap:50px; 
    justify-content: space-between;

}
.ban-des{
    color:rgb(206, 199, 199);
    width:500px;
}
.sum{
    margin-left:200px;
    margin-top:100px;
    width:100%;
}
.ban-img{
    margin-right:300px;
    margin-top:100px;
    position:relative;
}
.ban-join a{
    text-decoration:none;
    color:white;
    font-weight:700;

}
.ban-join{
    background-color:#E6533C;
    border-radius:25px;
    padding:20px 50px;
    border:none;
}
.ban-download a{
    text-decoration:none;
    color:white;
    font-weight:700;
}
.ban-download{
    padding:20px 50px;
    border-radius:25px;
    border:1px solid white;
    background:transparent;
    
    

}
.workout{
    background-color:rgb(187, 177, 177);
    opacity:0.5;
    height:98px;
    width:193px;
    border-radius:20px;
    position:absolute;
    left:200px;
    top:100px;
    cursor: pointer;
    
    
    
}
.workout h1{
    color:#4b0303;
    font-size:2.8rem;
    line-height: 2px;
    font-weight:900;
    
}
.workout p{
    color:#4b0303;
}
.ball{
    background-color:#E6533C;
    height:40px;
    width:40px;
    border-radius:50%;
    border:none;
}
.video{
    display:flex;
    align-items: center;
    height:96px;
    width:206px;
    border-radius:20px;
    background-color: rgb(185, 188, 190);
    opacity: 0.5;
    gap:20px;
    cursor: pointer;
    position:absolute;
    bottom:70px;
    left:-70px;
}
.contain h1{
    font-size:1.8rem;
    font-weight: 800;
    color:#4b0303;
    line-height:2px;


}
main{
    background-color: black;
    color:white;
}
/* section 1  */
.sec-1{
    text-align: center;
    background-color:black;
    padding-top:1px;
    padding-bottom:10px;
}
.sec-1 h1{
    font-size:3rem;
    color:white;
}
.sec-1 p{
    font-size:0.9rem;
    color:white;
    margin-bottom:100px;
    text-align: center;
}
.card-container{
    display:flex;
    justify-content: center;
    gap:50px;
    
} 
.card{
    text-align: center;
    width:300px;
    
}
.card img{
    border-radius:50%;
}
.card h3{
    font-size:1.2rem;
    color:white;
}
.card p{
    font-size:0.9rem;
    color:white;
}

/* sec-2 */
.sec-2{
   
    background-color: black;
    padding:100px;
   
}
.sec-2-img{
    width:50%;
    height:312px;
    width:366px;
    border-radius:30px;

    
    
    
}
.back-2{
    display:flex;
    justify-content: center;
    gap:360px;
    background-color: rgb(49, 47, 47);
    padding:30px;
    border-radius:30px;
    margin-left:200px;
    margin-right:200px;
}
.sec-2-title{
    font-size:3rem;
    color:white;
    width:350px;
}
.sec-2-des{
    font-size:0.9rem;
    color:white;
    width:500px;
}
.now{
    font-size: 1rem;
    font-weight:700;
    background-color: #E6533C;
    border-radius:25px;
    padding:20px 70px;
    border:none;
    cursor: pointer;

}
.now a{
    text-decoration: none;
    color:white;
}
/* sec-3 */
.sec-3 h1{
    font-size:3rem;
    font-weight:800;
    color:white;
}
.sec-3 p{
    font-size:0.8rem;
    color:white;
}
.sec-3{
    background-color:black;
    padding-top:20px;
}
.sec-3-img-1 {
    display:flex;
    height:200px;
    width:1000px;
    width:100%;
}
.sec-3-img-1 img{
    height:200px;
}
.pushup{
    width:500px;
}
.exe1{
    width:250px;
     
     
}
.exe2{
    width:250px;
}
.sec-3-img-2{
    display:flex;
    height:200px;
    width:1000px;
    width:100%;
}
.sec-3-img-2 img{
    height:200px;
}
.img-4{
    width:410px;
}
.img-5{
    width:260px;
}
.img-6{
    width:330px;
}
.sec-3-img{
    display: grid;
    justify-content: center;
}
.sec-3-des{
    margin-left:455px;
    width:550px;
}
/* sec-4 */
.chart h1{
    font-size:2rem;
}
table tr td{
    border:1px solid white;
    padding-left:20px;
    color:rgb(221, 194, 194);

}
table{
    border-collapse: collapse;
    width:310px;
    height:216px;
}
.head td{
    font-weight: bold;
    font-size:1rem;
    color:white;
}
.calculation h1{
    font-size:2rem;

}
.calculation p{
    font-size: 0.8rem;
}
.calculation input{
    height:48px;
    width:280px;
    background-color:rgb(70, 64, 64);
    border-radius:5px;
    margin:5px;
    padding-left: 5px;
}
input{
    color:rgb(73, 14, 168);
}
#sex{
    width:260px;
    height:48px;
    background-color:rgb(70, 64, 64);
    border-radius:5px;
    color:beige;
}
#factor{
    height:48px;
    width:417px;
    background-color:rgb(70, 64, 64);
    border-radius:5px;
    color:beige;
}
.Calculate{
    
    background-color:#E6533C;
    padding:20px 70px;
    border-radius:25px;
    border:none;
    cursor: pointer;
    margin-top:24px;

}
.Calculate a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.sec-4{
    display:flex;
    justify-content: center;
    gap:200px;
    background-color: rgb(46, 41, 41);
    margin-top:120px;
    padding:100px;
    
}
.sec-4-title{
    display:grid;
    justify-content: center;
    width:500px;
    margin-left:700px;
    text-align: center;
    margin-top:100px;
}
/* sec-5 */
.sec-5 img{
    width:326px;
    height:272px;
    border-radius:20px;
}
.sec-5{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    justify-content: center;
    width:1060px;
    margin-left:440px;
    background-color: rgb(46, 41, 41);
    padding:20px;
    border-radius:20px;
    
}
.sec-5 h1{
    font-size:3rem;
    font-weight:bold;
}
.sec-5-title{
    width: 564px;
    text-align: center;
    margin-left:700px;
    margin-top:100px;
    margin-bottom:100px;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-around;
    margin-top:100px;
}
footer{
    background-color:rgb(46, 41, 41) ;
    padding-bottom:30px;
   
}
.footer-1{
    width:25%;
}
.footer-1 h1{
    font-size:4.5rem;
    font-weight:bolder;
    font-style:italic;
    color:#E6533C;
}
.last-line{
    border-top:1px solid white;
    width:800px;
    margin-top:70px;
    margin-left:500px;

}
.last-line p{
    margin-top:40px;
    display:flex;
    justify-content: center;
    
}


    

@media screen and (max-width:576px){
    .navbar{
        display:none;
        
    }
    .ban-content{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sum{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        margin-left:20px;
    }
    .ban-img{
        margin:auto;
    }
    /* sec-1 */
    .card-container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        
    }  
    .card{
        margin:auto;
        margin-bottom:-50px;
       
    }
    .sec-1-des{
        margin:auto;
        padding:20px;
    }
    /* sec-2 */
    .back-2{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        background: none;
        justify-content: center;
        grid-row-gap:40px;
       
    }
    /* sec-3 */
    .sec-3-des{
        margin-left:100px;
        text-align: center;
        margin:auto;
    }
    .sec-3-img-1 img{
        width:250px;
    }
    .img-6{
        display:none;
    }
    .exe2{
        display:none;
    }
    .img-4{
        width:240px;
    }
    /* sec-4 */
    .sec-4-title{
        margin:auto;
    }
    .sec-4{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        margin:auto;
    }
    .calculation{
        width:500px;
        margin:auto;
    }
    .chart{
        margin:auto;
    }
    /* sec-5 */
    .sec-5-title{
        margin:auto;
    }
    .sec-5{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        margin:auto;
        width:auto;
        justify-content: center;
        margin-left:100px;
        
    }
    .sec-5-img{
        margin-left:100px;
    }
    /* footer */
    .footer{
        display: grid;
        grid-template-columns: repeat(1,fr);
        margin:auto;
        width:auto;
        justify-content: center;
        margin-left:50px;
        margin-top:50px;
        
    }
    .last-line{
        margin:auto;
        width:100%;
    }
    
}
    